res/*
!res/rommaker.bat
!res/rommaker.exe
**/*.bin
!res/rom.bin
src/*.obj
src/**/*.obj
src/SConscript
/bin/
SConstruct
src/backlight
src/bt_module 
src/carlink_cb 
src/dashboard_state
src/maintence
src/storage_param1 
src/storage_param2
src/vehicle_param