.vscode/
/amt630hv100-freertos/proj/AWTK/
/amt630hv100-freertos/proj/LVGL/
/amt630hv100-freertos/proj/settings/
/amt630hv100-freertos/proj/library/
/amt630hv100-freertos/proj/.metadata
/amt630hv100-freertos/proj/amt630hv100.dep
/amt630hv100-freertos/proj/amt630hv100.ewt
/amt630hv100-freertos/proj/awtk.dep   
/amt630hv100-freertos/proj/lvgl.dep   
/AMTLDR/settings/
/AMTLDR/AMT630Hv100/list/
/AMTLDR/AMT630Hv100/Obj/
/AMTLDR/AMT630Hv100/Exe/AMTLDR.out
/AMTLDR/AMTLDR.dep
/AMTLDR/AMTLDR.ewt
/STEPLDR/Debug/list/
/STEPLDR/Debug/Obj/
/STEPLDR/Debug/Exe/stepldr.out
/STEPLDR/settings/
/STEPLDR/stepldr.dep
/STEPLDR/stepldr.ewt
